@font-face {
  font-family: norse-bold;
  src: url(../fonts/norse-bold-webfont.woff2);
}

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

button,
input {
  font-family: Arial, sans-serif;
  font-size: 100%;
}

button {
  font-weight: bold;

  background-color: #596D48;
  color: white;

  border: 1px solid #596d48d3;
  border-radius: 0.5rem;

  -webkit-box-shadow: 4px 5px 10px 0px #0000007c;
  box-shadow: 4px 5px 10px 0px #0000007c;
  
  margin: 5%;

  width: 200px;
  height: 50px;
}

button:hover {
  background-color: #495a3b;
  -webkit-box-shadow: 4px 5px 5px 0px #0000007c;
  box-shadow: 4px 5px 5px 0px #0000007c;

  transition: ease-in 0.1s;
}

h1 {
  font-size: 1.35rem;
  font-weight: bold;

  margin-bottom: 25px;
}

header span {
  font-style: italic;
}

header {
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.3rem;

  width: 800px;

  text-overflow: initial;

  padding-left: 5%;
  padding-bottom: 20px;
}

input {
  margin-top: 5px;

  border: 1px solid #E5E7EB;
  border-radius: 0.2rem;

  width: 250px;
  height: 25px;
  
  padding: 5%;

  box-sizing: border-box;
}

input:focus {
  border: 1px solid #224FD2;
  border-radius: 0.2rem;

  -webkit-box-shadow: 4px 5px 5px 0px #0000007c;
  box-shadow: 4px 5px 5px 0px #0000007c;
}

input:invalid {
  border: 1px solid #c90808;
  border-radius: 0.2rem;
}

label {
  font-size: 0.65rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

section {
  display: flex;
}

section div:first-child {
  margin-right: 75px;
}

section div {
  display: flex;
  flex-direction: column;
}

fieldset {
  background-color: white;
  -webkit-box-shadow: 0px 3px 7px 0px #7c7c7c8a;
  box-shadow: 0px 3px 5px 0px #7c7c7c65;
  
  padding: 3% 5%;
}

footer, 
form,
header,
.background-link {
  font-family: Helvetica, Arial, sans-serif;
}

footer {
  margin-left: 5%;

  font-weight: bold;
}

footer a,
footer a:visited {
  color: #596D48;
  text-decoration: none;
}

.background-link {
  color: white;
  font-size: small;

  position: absolute;
  transform: translate(-30%, 0);
  left: 40%;
  bottom: 0;

  padding: 10px;
}

.background-link a,
.background-link a:visited {
  color: white;
}

.email-num {
  margin-top: 30px;
  margin-bottom: 30px;
}

.left-div {
  flex: 1.5;
  border: 1px solid blue;

  background-image: url(../assets/haliew-west-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  position: relative;
}

.right-div {
  flex: 2;
  border: 1px solid red;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #fbfbfb ;

  position: relative;
}

.odin-logo img {
  height: 100%;
}

.odin-logo {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1%;

  position: relative;
  top: 20%;

  background-color: #00000066;
  height: 15vh;

  font-family: norse-bold, sans-serif;
  color: white;
  font-size: 5.5rem;
}