@font-face {
  font-family: norse-bold;
  src: url(../fonts/norse-bold-webfont.woff2);
}

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

header {
  border: 1px solid blue;

  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.3rem;
}

section {
  display: flex;
}

footer, 
form,
header,
input,
p,
.background-link {
  font-family: Arial, Helvetica, sans-serif;
}

.background-link {
  color: white;
  font-size: small;

  position: absolute;
  transform: translate(-30%, 0);
  left: 40%;
  bottom: 0;

  padding: 10px;
}

.background-link a,
.background-link a:visited {
  color: white;
}

.left-div {
  flex: 1.5;
  border: 1px solid blue;

  background-image: url(../assets/haliew-west-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  position: relative;
}

.right-div {
  flex: 2;
  border: 1px solid red;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #F9FAFB;

  position: relative;
}

.odin-logo img {
  height: 100%;
}

.odin-logo {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1%;

  position: relative;
  top: 20%;

  background-color: #00000066;
  height: 15vh;

  font-family: norse-bold, sans-serif;
  color: white;
  font-size: 5.5rem;
}